.slideInner {
  height: 80vh;
  max-height: 828.75px;
}

.slidePicture {
  display: block;
  width: 100%;
  height: 100%;
}

.bannerImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

@media (max-width: 1200px) {
  .slideInner {
    height: 80vh;
    max-height: none;
  }
  .bannerImg {
    object-fit: contain;
    height: 80dvh;
  }
}
