.userWrap {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.userName {
  display: block;
  cursor: pointer;
}

.listWrap {
  position: absolute;
  top: 3rem;
  width: 75px;
  background-color: white;
}

.ul {
  display: flex;
  flex-direction: column;
  border: solid 1px gray;
  padding: 0.5rem;
}

.ul li {
  line-height: 2rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.ul li:hover {
  text-decoration: underline;
}
