@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply flex flex-col items-center;
}

#root {
  @apply w-full max-w-screen-2xl;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  @apply p-4 outline-none border border-gray-300 my-1
}

header > nav > button {
  @apply bg-brand text-white py-2 px-4 rounded-sm hover:brightness-110
}

.dimm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, .8);
}
.modal_close {
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 5px;
  width: 48px;
  height: 48px;
  display: block;
  background-position: 10px center;
  overflow: hidden;
  font-size: 48px;
  line-height: 1;
  text-align: center;
  z-index: 1050;
  color: rgb(0, 0, 0);
}

.popUp {
  max-width: 500px;
  min-width: 360px;
  width: 100%;
  height: 500px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #f2f2f2;
  border: 2px solid #727272;
  z-index: 20;
}

.popUp h2 {
  margin-top: 3rem;
  font-size: 1.5rem;
}

.sign-select {
  margin-top: 75px;
}

.sign-select > div {
  display: block;
  margin: 25px;
  line-height: 50px;
  color: #f2f2f2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-select > div > span {
  margin-right: 5px;
  color: white;
}

.sign-select .google {
  background-color: #1b1b1b;
}

.sign-select .facebook {
  background-color: #5371b1;
}



