@tailwind base;
@tailwind components;
@tailwind utilities;

/* html,
body {
  width: 100%;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img {
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  /* @apply p-4 outline-none border border-gray-300 my-1; */
  padding: 1rem;
  outline: none;
  border: solid 1px gray;
}

#root {
  width: 100%;
  max-width: 1920px;
  min-width: 360px;
  padding-top: 50px;
  margin: 0 auto;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.dimm {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.8);
}

section {
  margin-bottom: 320px;
}

/* 로그인 관련  */
.google_login_btt {
  background-color: #1b1b1b;
}
.facebook_login_btt {
  background-color: #5371b1;
}

/* 스와이퍼 관련 */

section .swiper-pagination-fraction {
  width: 35px;
  position: relative;
  bottom: -3px;
  left: -30px;
  display: inline-block;
  font-weight: bold;
}

section .swiper-button-next,
section .swiper-button-prev {
  color: black;
  display: inline-block;
  width: 13.5px;
  height: 22px;
  text-align: center;
  position: relative;
  bottom: -3px;
  top: auto;
  left: auto;
  right: auto;
}

section .swiper-button-next:after,
section .swiper-button-prev:after {
  font-size: 20px;
  font-weight: bolder;
}

/* 메인베너 관련 */
.mainSlider {
  text-align: end;
}
.mainBanner .swiper-button-next {
  right: 50px;
}
.mainBanner .swiper-button-prev {
  right: 75px;
}

/* slideProduct.jsx 관련 */
.product_slide_wrap {
  padding: 0 25px;
}
section.product_slide_wrap .swiper {
  padding-top: 50px;
}

section.product_slide_wrap .swiper-button-next,
section.product_slide_wrap .swiper-button-prev {
  /* width: 13.5px;
  height: 22px; */
  position: absolute;
  top: 30px;
  bottom: auto;
  left: auto;
  right: auto;
}

section.product_slide_wrap .swiper-button-next {
  right: 10px;
}
section.product_slide_wrap .swiper-button-prev {
  right: 35px;
}

/* categorySwiper.jsx  */
section.category_slide {
  width: 100%;
  padding: 0 25px;
}

.category_swiper_inner {
  width: 100%;
  max-width: 1352px;
  margin: 0 auto;
}

section .categorySwiper .swiper-button-next,
section .categorySwiper .swiper-button-prev {
  position: absolute;
  top: 50%;
  bottom: auto;
  left: auto;
  right: auto;
}

section .categorySwiper .swiper-button-prev {
  left: 0px;
}

section .categorySwiper .swiper-button-next {
  right: 0px;
}


@media (max-width: 1200px) {
  section {
    margin-bottom: 110px;
  }
}

@media (max-width: 768px) { 
  .product_slide_wrap, section.category_slide {
    padding: 0 8px;
  }
}